/* Reset some default styles */
body,
h1,
p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
    background-color: #2e2e2e;
    /* Dark background */
    color: #ffffff;
    /* Light text color */
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #1c1c1c;
    color: #f1f1f1;
    padding: 15px;
    text-align: center;
    font-size: 2em;
    font-family: 'Arial Black', sans-serif;
}

.container {
    display: flex;
    flex: 1;
}

aside {
    width: 250px;
    background-color: #3a3a3a;
    color: #ffffff;
    padding: 15px;
    overflow: hidden;
    transition: width 0.3s;
}

aside.collapsed {
    width: 50px;
}

#historyContent {
    display: block;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
    max-height: 500px;
}

#historyContent.collapsed {
    max-height: 0;
}

main {
    flex: 1;
    padding: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    /* Green background */
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#toggleSidebar {
    width: 100%;
    padding: 10px;
    background-color: #2c2c2c;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

#toggleSidebar:hover {
    background-color: #1a1a1a;
}